# Core modules (mandatory)
jupyterlite-core
jupyterlab

jupyterlab-filesystem-access

# Python kernel (optional)
jupyterlite-pyodide-kernel

# Language support (optional)
jupyterlab-language-pack-es-ES


# Python: ipywidget library for Jupyter notebooks (optional)
ipywidgets
# Python: ipyevents library for Jupyter notebooks (optional)
ipyevents
# Python: interative Matplotlib library for Jupyter notebooks (optional)
ipympl
# Python: ipycanvas library for Jupyter notebooks (optional)
ipycanvas
# Python: ipyleaflet library for Jupyter notebooks (optional)
ipyleaflet

# Python: plotting libraries (optional)
plotly
bqplot
